
  <li>
    <a href="https://www.linkedin.com/in/franmontielgonzalez" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> Linkedin
    </a>
  </li>
  <li>
    <a href="https://discord.com/users/587257247168593928" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fab fa-fw fa-discord" aria-hidden="true"></i> Discord
    </a>
  </li>
  <li>
    <a href="https://www.hackthebox.eu/profile/125999" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <img src="/assets/img/icos/htb.png"> HackTheBox
    </a>
  </li>