<!-- Optional additional links to insert in sidebar nav -->
<a class="home-link {% if page.url == '/about/' %} active{% endif %}" href="{{ site.baseurl }}/about">About</a>
<a class="home-link {% if page.url == '/htb/' %} active{% endif %}" href="{{ site.baseurl }}/htb">Hack The Box</a>
<a class="home-link {% if page.url == '/experience/' %} active{% endif %}" href="{{ site.baseurl }}/experience">Experiencia</a>
<a class="home-link {% if page.url == '/presentations/' %} active{% endif %}" href="{{ site.baseurl }}/presentations">Presentaciones</a>
<a class="home-link {% if page.url == '/blog/' %} active{% endif %}" href="{{ site.baseurl }}/blog">Blog</a>


