<!-- Optional additional links to insert for icons links -->

<a id="github-link" class="icon" 
    title="Github" aria-label="Github"
    href="https://github.com/MrTuxx">
    {% include svg/github.svg %}
</a>
<a id="linkedin-link" class="icon" 
    title="LinkedIn" aria-label="LinkedIn"
    href="https://linkedin.com/in/franmontielgonzalez">
    {% include svg/linkedin.svg %}
</a>
<a id="htb-link" class="icon" 
    title="HackTheBox" aria-label="HackTheBox"
    href="https://www.hackthebox.eu/profile/125999">
    {% include svg/htb.svg %}
</a> 
<a id="discord-link" class="icon" 
    title="Discord" aria-label="Discord"
    href="https://discordapp.com/users/587257247168593928">
    {% include svg/discordia.svg %}
</a>
<a id="telegram-link" class="icon" 
    title="Telegram" aria-label="Telegram"
    href="https://t.me/MrTuxx">
    {% include svg/telegram.svg %}
</a>